<!DOCTYPE html>
<html lang="en" ng-app="FBUserTracker">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Facebook User Tracker</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500">
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>
      html, body {
        width: 100vw;
        height: 100%;
        margin: 0;
        padding: 0;
        position: relative;
        font-family: 'Roboto', san-serif !important;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #333;
        overflow-x: hidden;
      }
      h1 { margin: 0; padding: 10px 0; font-size: 32px !important; line-height: 42px !important; font-weight: 500; }
      h2 { margin: 0; padding: 10px 0; font-size: 24px !important; line-height: 32px !important; font-weight: 500; }
      h3 { margin: 0; padding: 10px 0; font-size: 18px !important; line-height: 24px !important; font-weight: 500; }
      p { margin: 0; padding: 10px 0; font-size: 14px !important; line-height: 18px !important; font-weight: 500; }
      table { font-size: 14px !important; line-height: 18px !important; }
      hr { margin: 0 0 20px 0; padding: 0; height: 1px; background: #333; }

      header { background: linear-gradient(#ccc, #eee); border-bottom: 1px inset #bbb; position: relative; }
      header a {
        display: block;
        text-decoration: none !important;
        position: absolute;
        top: 50%;
        right: 30px;
        transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
      }
      .container, .table-responsive { position: relative; }
      .row-user { padding: 10px 0; }
      .search-box { display: inline-block; width: 300px; position: absolute; top: 20px; right: 15px; }
      .container-fluid .search-box { top: 20px; right: 30px; }
      .table-responsive .search-box { top: 5px; right: 0; }

      .search-console {
        display: none;
        flex-flow: row nowrap;
        align-content: space-around;
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        background: rgba(0,0,0,.7);
        position: fixed;
        top: 0;
        left: 0;
      }
      .search-console.active { display: flex; }
      .search-result {
        display: block;
        width: 70%;
        height: 90%;
        margin: auto;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
      }
      .search-close { display: inline-block; position: absolute; top: 2%; right: 2%; }
    </style>
  </head>
  <body>
    <header class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-sm-12">
          <h1>Facebook User Tracker</h1>
          <a href="/">Back to list</a>
        </div>
      </div>
    </header>
    <div class="container" ng-view></div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.6.6/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script>
      'use strict';
      var app = angular.module('FBUserTracker', ['ngRoute'], function($interpolateProvider) {
        $interpolateProvider.startSymbol('<%');
        $interpolateProvider.endSymbol('%>');
      });
      app.config(['$locationProvider', '$routeProvider',
        function config($locationProvider, $routeProvider) {
          $locationProvider.hashPrefix('!');
          $routeProvider
            .when('/', {
              template: `
              <div class="container-fluid" ng-controller="UsersController">
                <h1>Users</h1>
                <input type="text" class="form-control search-box" name="searchphase" placeholder="Search ..." ng-model="s.Value" ng-enter="search(s.Value)">
                <hr>
                <div class="table-responsive">
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>FID</th>
                        <th>Full Name</th>
                        <th>First name</th>
                        <th>Middle name</th>
                        <th>Last name</th>
                        <th>Email</th>
                        <th>Updated date</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="u in users" ng-click="user(u.f_id)">
                        <td><% u.f_id %></td>
                        <td><% u.name %></td>
                        <td><% u.first_name %></td>
                        <td><% u.middle_name %></td>
                        <td><% u.last_name %></td>
                        <td><% u.email %></td>
                        <td><% u.updated_at %></td>
                      </tr>
                    </tbody>
                  </table>
                </div>

                <div class="search-console">
                  <div class="search-result">
                    <h3>Search result</h3>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>FID</th>
                          <th>Full Name</th>
                          <th>First name</th>
                          <th>Middle name</th>
                          <th>Last name</th>
                          <th>Email</th>
                          <th>Updated date</th>
                        </tr>
                      </thead>                            
                      <tbody>
                        <tr ng-repeat="su in susers" ng-click="user(su.f_id)">
                          <td><% su.f_id %></td>
                          <td><% su.name %></td>
                          <td><% su.first_name %></td>
                          <td><% su.middle_name %></td>
                          <td><% su.last_name %></td>
                          <td><% su.email %></td>
                          <td><% su.updated_at %></td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="search-close"><a class="search-close-btn" href="javascript:">Click to close</a></div>
                  </div>
                </div>
              </div>
              `,
              controller: 'UsersController',
            })
            .when('/user/:id', {
              template: `
              <div class="container-fluid" ng-controller="UserController">
                <h1>User Information</h1>
                <hr>
                <div class="container">
                  <div class="row row-user">
                    <div class="col-xs-12 col-sm-2"><strong>FID</strong></div>
                    <div class="col-sm-1 hidden-xs"><strong>:</strong></div>
                    <div class="col-xs-12 col-sm-9"><% user.f_id %></div>
                  </div>
                  <div class="row row-user">
                    <div class="col-xs-12 col-sm-2"><strong>Full name</strong></div>
                    <div class="col-sm-1 hidden-xs"><strong>:</strong></div>
                    <div class="col-xs-12 col-sm-9"><% user.name %></div>
                  </div>
                  <div class="row row-user">
                    <div class="col-xs-12 col-sm-2"><strong>First name</strong></div>
                    <div class="col-sm-1 hidden-xs"><strong>:</strong></div>
                    <div class="col-xs-12 col-sm-9"><% user.first_name %></div>
                  </div>
                  <div class="row row-user">
                    <div class="col-xs-12 col-sm-2"><strong>Middle name</strong></div>
                    <div class="col-sm-1 hidden-xs"><strong>:</strong></div>
                    <div class="col-xs-12 col-sm-9"><% user.middle_name %></div>
                  </div>
                  <div class="row row-user">
                    <div class="col-xs-12 col-sm-2"><strong>Last name</strong></div>
                    <div class="col-sm-1 hidden-xs"><strong>:</strong></div>
                    <div class="col-xs-12 col-sm-9"><% user.last_name %></div>
                  </div>
                  <div class="row row-user">
                    <div class="col-xs-12 col-sm-2"><strong>Email</strong></div>
                    <div class="col-sm-1 hidden-xs"><strong>:</strong></div>
                    <div class="col-xs-12 col-sm-9"><% user.email %></div>
                  </div>
                  <div class="row row-user">
                    <div class="col-xs-12 col-sm-2"><strong>Birthday</strong></div>
                    <div class="col-sm-1 hidden-xs"><strong>:</strong></div>
                    <div class="col-xs-12 col-sm-9"><% user.birthday %></div>
                  </div>
                  <div class="row row-user">
                    <div class="col-xs-12 col-sm-2"><strong>Gender</strong></div>
                    <div class="col-sm-1 hidden-xs"><strong>:</strong></div>
                    <div class="col-xs-12 col-sm-9"><% user.gender %></div>
                  </div>
                  <div class="row row-user">
                    <div class="col-xs-12 col-sm-2"><strong>About</strong></div>
                    <div class="col-sm-1 hidden-xs"><strong>:</strong></div>
                    <div class="col-xs-12 col-sm-9"><% user.about %></div>
                  </div>
                  <div class="row row-user">
                    <div class="col-xs-12 col-sm-2"><strong>Education</strong></div>
                    <div class="col-sm-1 hidden-xs"><strong>:</strong></div>
                    <div class="col-xs-12 col-sm-9"><% user.education %></div>
                  </div>
                  <div class="row row-user">
                    <div class="col-xs-12 col-sm-2"><strong>Location</strong></div>
                    <div class="col-sm-1 hidden-xs"><strong>:</strong></div>
                    <div class="col-xs-12 col-sm-9"><% user.location %></div>
                  </div>
                  <div class="row row-user">
                    <div class="col-xs-12 col-sm-2"><strong>Locale</strong></div>
                    <div class="col-sm-1 hidden-xs"><strong>:</strong></div>
                    <div class="col-xs-12 col-sm-9"><% user.locale %></div>
                  </div>
                  <div class="row row-user">
                    <div class="col-xs-12 col-sm-2"><strong>Updated date</strong></div>
                    <div class="col-sm-1 hidden-xs"><strong>:</strong></div>
                    <div class="col-xs-12 col-sm-9"><% user.updated_at %></div>
                  </div>
                  <div class="row row-user">
                    <div class="col-xs-12 col-sm-2"><strong>Created date</strong></div>
                    <div class="col-sm-1 hidden-xs"><strong>:</strong></div>
                    <div class="col-xs-12 col-sm-9"><% user.created_at %></div>
                  </div>
                  <p>&nbsp;</p>
                  <div class="table-responsive">
                    <h3>Changed history</h3>
                    <input type="text" class="form-control search-box" name="searchphase" placeholder="Search ..." ng-model="s.Value" ng-enter="search(s.Value, user.f_id)">
                    <hr>
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Changed field</th>
                          <th>To value</th>
                          <th>Time</th>
                          <th>Changed date</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="c in changes">
                          <td><% c.field %></td>
                          <td><% c.value %></td>
                          <td><% c.time %></td>
                          <td><% c.created_at %></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <div class="search-console">
                  <div class="search-result">
                      <h3>Search result</h3>
                      <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Changed field</th>
                              <th>To value</th>
                              <th>Time</th>
                              <th>Changed date</th>
                            </tr>
                          </thead>
                          <tbody>
                          <tr ng-repeat="sc in schanges">
                            <td><% sc.field %></td>
                            <td><% sc.value %></td>
                            <td><% sc.time %></td>
                            <td><% sc.created_at %></td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="search-close"><a class="search-close-btn" href="javascript:">Click to close</a></div>
                  </div>
                </div>
              </div>
              `,
              controller: 'UserController',
            })
            .otherwise({ redirectTo: '/' });
        }
      ]);
      app.controller('UsersController', function($scope, $http) {
        $scope.users = [];
        $http.get('/users').then(function(response) {
          $scope.users = response.data;
          $scope.user = function(f_id) {
            location.href = '/#!/user/'+f_id;
          }
        });
        $scope.search = function(value) {
          $scope.value_length = value.replace(/ /g, '').length;
          if ($scope.value_length>0) {
            $http.get('/users/search/'+value).then(function(response) {
              $scope.susers = response.data;
            });
          }
        }
        $scope.load = function() {
          jQuery('.search-box').bind('keydown keypress', function(e) {
            if (e.which===13) {
              if (jQuery(this).val().replace(/ /g, '').length>0) {
                jQuery(".search-console").addClass("active");
              }
            }
          });
          jQuery(".search-close-btn").click(function() {
            jQuery(".search-console").removeClass("active");
          });
        }
        $scope.load();
      });
      app.controller('UserController', function($scope, $http, $routeParams) {
        $scope.user = [];
        $http.get('/user/'+$routeParams.id).then(function(response) {
          $scope.user = response.data;
          console.log('/user/'+$routeParams.id+'/changes')
          $http.get('/user/'+$routeParams.id+'/changes').then(function(response) {
            console.log(response.data)
            $scope.changes = response.data;
          });
        });
        $scope.search = function(value, id) {
          $scope.value_length = value.replace(/ /g, '').length;
          if ($scope.value_length>0) {
            $http.get('/user/'+id+'/changes/search/'+value).then(function(response) {
              $scope.schanges = response.data;
            });
          }
        }
        $scope.load = function() {
          jQuery('.search-box').bind('keydown keypress', function(e) {
            if (e.which===13) {
              if (jQuery(this).val().replace(/ /g, '').length>0) {
                jQuery(".search-console").addClass("active");
              }
            }
          });
          jQuery(".search-close-btn").click(function() {
            jQuery(".search-console").removeClass("active");
          });
        }
        $scope.load();
      });
      app.directive('ngEnter', function() {
        return function($scope, $element, $attr) {
          $element.bind('keydown keypress', function(event) {
            var keyCode = event.which || event.keyCode;
            if (keyCode===13) {
              $scope.$apply(function() {
                $scope.$eval($attr.ngEnter);
              });
              event.preventDefault();
            }
          });
        };
      });
    </script>
  </body>
</html>